
<footer class="Footer mt-2">

    <div class="container-fluid ">
        <div class="row py-4 justify-content-center ">

            <div class="col-lg-4 col-md-6  col-6 mb-lg-0">
                <div class='row justify-content-center'>
                    <div class='col'>
                        <h3 class='px-4' id='pantherLogo'>PANTHER</h3>

                        <img src="/images/logo.png" alt="" width="180" class="mb-3" />
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6  col-6 mb-lg-0">

                <h5 class="text-uppercase font-weight-bold mb-4">Shop</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2 menbtn pointerbtn">
                        <a href="/products/men"  class="footlinks">For Men</a>
                    </li>
                    <li class="mb-2 womenbtn pointerbtn">
                        <a href="/products/women" class="footlinks" >For Women</a>
                    </li>

                    <li class="mb-2 kidbtn pointerbtn">
                        <a href="/products/kids" class="footlinks" >For Kids</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-2 col-md-6  col-6 mb-lg-0">
                <h5 class="text-uppercase font-weight-bold mb-4">Media Handles</h5>
                <ul class="list-unstyled mb-0">
                    <div class="footerstyling">
                        <li><i class="fa fa-twitter"></i></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li><i class="fa fa-facebook"></i></li>
                    </div>

                    <div class="footerstyling">
                        <li><i class="fa fa-instagram"></i></li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li><i class="fa fa-pinterest"></i></li>
                    </div>

                </ul>
            </div>


            <div class="col-lg-4 col-md-6 col-6 mb-lg-0">
                <h5 class="text-uppercase font-weight-bold mb-4">Contact Us</h5>
                <p class=" mb-4">
                    Buildings Alyssa
                    Begonia and Clover situated in Embassy Tech Village,
                    Outer Ring Road,
                    Devarabeesanahalli Village,
                    Varthur Hobli,
                    Bengaluru - 560103, India
                </p>

            </div>
        </div>
    </div>


    <div class=" ">
        <div class="container text-center">
            <p class=" mb-0 py-2">© PANTHER Private Limited</p>
        </div>
    </div>
</footer>