
<% layout('layouts/boilerplate')%>

<section id="homesection">

    <div class='container-fluid'>
        <div class='row justify-content-center'>
            <div class='col-md-12'>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class='Home img-fluid headImages' src="images/brian-lundquist-fuz8AWSsp2g-unsplash.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img class='Home img-fluid headImages' src="images/elevate-oRl7BoX7QCE-unsplash.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img class='Home img-fluid headImages'
                                src="images/fachry-zella-devandra-bNSdIkCBJOs-unsplash.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img class='Home img-fluid headImages'
                                src="images/my-networking-apparel-54VE0-oytqo-unsplash2.jpg" />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />


    <section class="container-fluid px-0">

        <div class="row align-items-center content">
            <div class="col-md-6  order-2 order-md-1">
                <img class="Home img-fluid headImages" src="images/filipp-romanovski-lv-oiuGbyPM-unsplash.jpg" alt="" />
            </div>
            <div class="col-md-6 text-center  order-1 order-md-2 ">
                <div class="row justify-content-center headImagediv">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2 class='hov1' data-text='Men'>Men</h2>
                        <br />
                        <p class="lead">
                            Must have Polos,Tees,Denim,Sports wear,Ethinic wear &more exclusively available in all
                            brands.
                        </p>
                        <div class='container'>
                            <Link to='/Men'>
                            <button class='btn1 menbtn pointerbtn'>Shop Now</button>
                            </Link>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center content mt-2">
            <div class="col-md-6 text-center ">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2 class='hov2' data-text='Women'>Women</h2>
                        <br />
                        <p class="lead">
                            Our standout selection of varsity wear,urban wear,monochrome designs & more.
                            <br />
                            Make a statement in ethnic wear
                        </p>

                        <Link to='/Women'>
                        <button class='btn2 womenbtn pointerbtn'>Shop Now</button>
                        </Link>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6 ">
                <img class="Home img-fluid headImages" src="images/dollar-gill-oH-PNVWykUo-unsplash.jpg" alt="" />
            </div>
        </div>

        <div class="row align-items-center content mb-1 mt-2 mr-0">
            <div class="col-md-6 order-2 order-md-1">
                <img class=" Home img-fluid headImages" src="images/edward-cisneros-r_Tnjj6TB30-unsplash.jpg" alt="" />
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2 class='hov3' data-text='Kids'>Kids</h2>
                        <br />
                        <p class="lead">
                            Vibrant feels for the little ones with Graphic prints & Vibrant colours.
                        </p>
                        <div class='container'>
                            <Link to='/Kids'>
                            <button class='btn3 kidbtn pointerbtn'>Shop Now</button>
                            </Link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section> 